<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title>About</title>
</head>
<body>
    <%- include('partials/navigations')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, perferendis quasi earum id doloremque accusamus tempore ratione, mollitia repellendus cupiditate laborum quaerat veritatis atque voluptatem. Veniam, delectus. Amet totam hic nemo, obcaecati quisquam quidem eius fuga ipsa quia delectus nesciunt asperiores aliquam assumenda mollitia reiciendis minima quas quasi harum officia ut nulla quo aspernatur error! Assumenda fugiat nisi impedit aspernatur qui! Autem repudiandae delectus expedita aut esse culpa modi eos porro odio eaque accusantium exercitationem accusamus id nostrum nam a, nesciunt omnis repellendus nulla consequatur deserunt fugit. Odio vitae sapiente eius inventore officiis tenetur non quia dolores quod esse, minus nemo voluptatum id pariatur laudantium. Pariatur ipsa asperiores voluptatem quia voluptatibus earum fuga, placeat vitae necessitatibus! Ipsam illo laboriosam dolore velit sapiente beatae aut incidunt cupiditate sunt! Nam non quos laborum id unde in cumque voluptatem ducimus. Dicta provident perferendis dolores, enim magni ipsam labore qui voluptatibus! Et quibusdam asperiores voluptatum aliquid expedita, sequi id assumenda eum omnis beatae adipisci veritatis officia eos, mollitia molestiae ipsa fugit! Voluptatum officiis voluptates consequuntur magni ducimus, ab modi a rerum nisi, quo aperiam earum vero iure laboriosam dolore labore explicabo enim ea dignissimos. Dolore, corporis? Repudiandae, officia est illum iste magni qui rem?</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>