<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= titulo %></title>
</head>
<body>
    <%- include('partials/navigations') %>
    <h1>esto es pa players nomas ☠️ </h1>

    <%- include('partials/footer')%>
</body>
</html>