<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title>Ulifly</title>
</head>
<body>

    <%- include('partials/navigations')%>
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="img/wilson.png" alt="" class="w-35">
            <h1 class="display-1 my-5 text-uppercase fw-bold">Dst</h1>
            <a href="/about" class="btn btn-outline-info">about</a>
        </div>
    </header>
    <h1>home, bonjour zoquetes</h1>

    <%- include('partials/footer')%>
</body>
</html>