<footer class="bg-dark text-center p-2">
<div>
    <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, harum.</p>
</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>